<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Welcomee</h2>
    <a href="/smoothies" class="btn">Sign out</a>
  
   
  </div>
</header>


<%- include('partials/footer'); -%>