<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/images.png" alt="image icon">
    <h4>graph</h4>
    <p>graph 1</p>
  </li>
  <li class="recipe">
    <img src="/images.png" alt="image icon">
    <h4>graph</h4>
    <p>graph 2</p>
  </li>
  <li class="recipe">
    <img src="/images.png" alt="image icon">
    <h4>graph</h4>
    <p>graph 3</p>
  </li>
  <li class="recipe">
    <img src="/images.png" alt="image icon">
    <h4>graph</h4>
    <p>graph 4</p>
  </li>
  <li class="recipe">
    <img src="/images.png" alt="image icon">
    <h4>graph</h4>
    <p>graph 5</p>
  </li>
  <li class="recipe">
    <img src="/images.png" alt="image icon">
    <h4>graph</h4>
    <p>graph 6</p>
  </li>
</ul>

<%- include('partials/footer'); -%>