<%- include('partials/header'); -%>

<header>
  <div class="graph">
    <img src="/images.png" alt="image icon">
  </div>
  <div class="headings">
    <h2>influx project</h2>
    <h3>influx db project</h3>
    <a href="/graphs" class="btn">graphs</a>
    <a href="/signup" class="btn">Sign up</a>
    <a href="/signin" class="btn">Sign in</a>
   
  </div>
</header>


<%- include('partials/footer'); -%>